**/docker-compose*
**/Dockerfile*
**/.dockerignore
.docker

**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.vscode
**/charts
**/node_modules
**/npm-debug.log

**/secrets.dev.yaml
**/values.dev.yaml
README.md
